*,
*::before,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background: pink;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90vw;
  margin: 5rem 0;
  padding: 1.5rem 2rem;
  border-radius: 5px;
  background: #fff;
}

.btn {
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 0.5rem 0;
  margin: 2rem auto;
  text-transform: uppercase;
  background: pink;
  color: #fff;
  border: none;
}

.person {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.75rem;
  margin-bottom: 1.5rem;
  align-items: center;
}

.person img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
}
